extends layout

block content
	.row
		.col-xs-6
			h1 Projets de #{beneficiaryName}
		.col-xs-6(style="text-align: right")
			.smallImgContainer
				img.projectimg(src="#{beneficiaryLogo}")
	#projectList.row(style="margin-top: 5px")
		-if (projects.length == 1)
			- for project in projects
				.col-xs-12
					.projectcolumn
						h3.center.title #{project.name}
						- if (project.name2)
							h3.center.title #{project.name2}
						h4.center (#{project.shareSize} #{project.currency}/part)
						- if (project.imageUrl)
							.fixedImgContainer
								img.projectimg(src="#{project.imageUrl}")
						div.counter.large.total #{project.total}
						div.center.fs24 #{project.currency}
						div.center.fs24.margin-top20 #{project.notes}
						//div.counter.parts #{project.numShares}
						div.center.fs16.margin-top20 Budget du projet
						div.counter.small
							- if (project.target)
								| #{project.target} #{project.currency}
		-if (projects.length == 2)
			- for project in projects
				.col-xs-6
					.projectcolumn
						h3.center.title #{project.name}
						- if (project.name2)
							h3.center.title #{project.name2}
						h4.center (#{project.shareSize} #{project.currency}/part)
						- if (project.imageUrl)
							.fixedImgContainer
								img.projectimg(src="#{project.imageUrl}")
						div.counter.large.total #{project.total}
						div.center.fs24 #{project.currency}
						div.center.fs24.margin-top20 #{project.notes}
						//div.counter.parts #{project.numShares}
						div.center.fs16.margin-top20 Budget du projet
						div.counter.small
							- if (project.target)
								| #{project.target} #{project.currency}
		-if (projects.length == 3)
			- for project in projects
				.col-xs-4
					.projectcolumn
						h3.center.title #{project.name}
						- if (project.name2)
							h3.center.title #{project.name2}
						h4.center (#{project.shareSize} #{project.currency}/part)
						- if (project.imageUrl)
							.fixedImgContainer
								img.projectimg(src="#{project.imageUrl}")
						div.counter.large.total #{project.total}
						div.center.fs24 #{project.currency}
						div.center.fs24.margin-top20 #{project.notes}
						//div.counter.parts #{project.numShares}
						div.center.fs16.margin-top20 Budget du projet
						div.counter.small
							- if (project.target)
								| #{project.target} #{project.currency}
		-if (projects.length >= 4)
			- for project in projects
				.col-xs-3
					.projectcolumn
						h3.center.title #{project.name}
						- if (project.name2)
							h3.center.title #{project.name2}
						h4.center (#{project.shareSize} #{project.currency}/part)
						- if (project.imageUrl)
							.fixedImgContainer
								img.projectimg(src="#{project.imageUrl}")
						div.counter.large.total #{project.total}
						div.center.fs24 #{project.currency}
						div.center.fs24.margin-top20 #{project.notes}
						//div.counter.parts #{project.numShares}
						div.center.fs16.margin-top20 Budget du projet
						div.counter.small
							- if (project.target)
								| #{project.target} #{project.currency}
	.progress.target-progressbar
		#globalProgressBar.progress-bar.progress-bar-success(role="progressbar", aria-valuenow="#{globalTotal}", aria-valuemin="0", aria-valuemax="#{globalTarget}", style="width: #{globalProgress}%")
	.row
		.col-xs-6(style="font-size: 18px") 0
		.col-xs-6(style="text-align: right; font-size: 18px") #{globalTarget}
	script(src="/socket.io/socket.io.js")
	script.
		var globalTarget = #{globalTarget};
		var globalTotal = #{globalTotal};
		var partTotals = #{partTotals};
		var socket = io.connect(window.location.protocol + '//' + window.location.hostname + ':' + window.location.port + '/');
		socket.on('donation', function(donation){
			var projectColumn;
			var projectColumns = document.getElementById('projectList');
			projectColumn = projectColumns.children.item(donation.projectNumber).children.item(0);
			//Updating project total
			var projectTotal = projectColumn.getElementsByClassName('total')[0].textContent;
			projectTotal = Number(projectTotal);
			projectTotal += Number(donation.total);
			projectColumn.getElementsByClassName('total')[0].textContent = projectTotal;
			//Updating progress bar
			partTotals[donation.projectNumber] = projectTotal;
			renderProgressBar();
		});
		function renderProgressBar(){
			var donatedTotal = 0;
			for (var i = 0; i < partTotals.length; i++){
				donatedTotal += partTotals[i];
			}
			var progressBarWidth = ((donatedTotal / globalTarget) * 100).toFixed(2);
			$('#globalProgressBar').css('width', progressBarWidth.toString() + '%');
		}
